.container {
    background-color: white;
    padding: 2rem;
    border-radius: 4px;
}

.date_range {
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    align-items: center;
}

.rdp {
    margin: 0;
}

.container h1 {
    color: black;
    text-align: center;
    margin-bottom: 1rem;
}

.selections {
    margin: 1rem 0;
}

.selections button {
    margin: 0 1rem;
    background-color: white;
    font-size: var(--normal-font-size);
    color: #9195A8;
    border-bottom: 2px solid transparent;
}

.selections button:hover {
    color: var(--primary-blue);
    border-bottom: 2px solid var(--primary-blue);
}

#selected {
    color: var(--primary-blue);
    border-bottom: 2px solid var(--primary-blue);
}

.container form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.selection label {
    margin-right: 1rem;
}

.selection_button {
    background-color: var(--primary-blue);
    color: white;
    border-radius: 1rem;
    padding: .25rem 1rem;
}