.button {
    color: white;
    padding-block: 0.5em;
    border-radius: 17px;
    width: 100%;
    background-color: var(--primary-blue);
}

.button:disabled {
    background-color: var(--error) !important;
}

@media (min-width: 40em){
    .button {
        font-size: 1rem;
    }
}