.button {
    border-radius: 50px;
    background-color: var(--primary-blue);
    color: white;
    padding: 0.25em 1.5em;
}

.button:disabled {
    background-color: var(--error) !important;
}

@media (min-width: 40em){
    .button {
        font-size: 1rem;
    }
}