.yellow_border {
	max-width: fit-content;
	height: 40px;
	padding-inline: 0.3rem;
	border: 4px solid var(--primary-yellow);
	transform: translateY(50%) rotate(0deg);
	margin-bottom: 2rem;
}

.blue_background {
	background-color: var(--primary-blue);
	transform: translateY(-43%);
	overflow: hidden;
	text-overflow: ellipsis;
}

.blue_background > * {
	font-size: 1.25rem;
	font-weight: 400;
	padding: 0.5rem 3rem;
	overflow: hidden;
	text-overflow: ellipsis;
}

@media (min-width: 40em) {
	.yellow_border {
		padding-inline: 0.6rem;
		height: 68px;
		border: 9px solid var(--primary-yellow);
		margin-bottom: 4rem;
		--tilt: -1.13deg;
		transform: translateY(50%) rotate(var(--tilt));
	}

	.blue_background > * {
		font-weight: 600;
		font-size: 2.625rem;
		padding: 0.5rem 3rem;
		transform: translateY(-7%) rotate(calc(var(--tilt) * -1));
	}
}

@media (max-width: 40em) {
	.yellow_border {
		margin: auto;
		margin-bottom: 2rem;
	}
}
