.container {
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    overflow: hidden;
    z-index: -1;
}

.container div {
    position: relative;
    height: 1562px;
}

.rooster {
    position: absolute;
    width: 1758px;
    height: 1562px;
}

.rooster_text {
    position: absolute;
    bottom: 0;
    right: 0;
}

.right {
    left: -709px;
}

.left {
    right: -709px;
    transform: rotateY(180deg);
}