.modal {
    width: 50%;
    max-width: 600px;
    min-width: fit-content;
}

.form_container {
    padding: 1rem;
    background-color: white;
    border-radius: 2px;
}

.form_container h1 {
    color: black;
    font-size: 1.5rem;
    padding-bottom: .75rem;
    margin-bottom: .75rem;
    border-bottom: 1px solid #F2F4FF;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.input_section {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
}

.text_field label {
    display: block;
    font-size: 1rem;
    margin-bottom: .5rem;
}

.text_field input {
    border-radius: 0;
    border: 0;
    padding: 0;
    border-bottom: 1px solid #B4BECC;
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.buttons button {
    color: white;
    background-color: var(--primary-blue);
    border-radius: 1rem;
    width: 150px;
}

@media (max-width: 40em) {
    .form_container h1 {
        text-align: center;
    }

    .modal {
        width: 75%;
    }

    .form {
        gap: 2rem;
    }

    .input_section {
        flex-direction: column;
    }

    .buttons {
        flex-direction: column;
        gap: 1rem;
        align-items: center;
    }
}