.form_container {
    width: 500px;
    margin: auto;
    border: 2px solid black;
    padding: 1rem;
    background-color: white;
}

.form_container h1 {
    color: black;
    font-size: 1.5rem;
    padding-bottom: .75rem;
    margin-bottom: .75rem;
    border-bottom: 1px solid #F2F4FF;
}

.form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
}

.text_field label {
    display: block;
    font-size: 1rem;
    font-weight: bold;
}

.text_field input {
    border-radius: 0;
    border: 0;
    padding: 0;
    border-bottom: 1px solid #B4BECC;
    width: 200px;
}

.form button {
    color: white;
    background-color: var(--primary-blue);
    border-radius: 1rem;
}

.submit_btn {
    width: 150px;
}

.exit {
    position: absolute;
    background-color: white;
    border-right: 2px solid black;
    border-top: 2px solid black;
    right: 0;
}

.del_btn {
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 1rem;
    font-size: .75rem;
    width: 100px;
}