.info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 1rem 0;
    border: 2px solid black;
    border-radius: 1rem;
    padding: 1rem;
}

.info:hover {
    cursor: pointer;
}