.info {
    display: flex;
    align-items: center;
}

.info p:first-child {
    margin-right: 1rem;
}

.info button {
    margin-left: auto;
    width: 150px;
    background-color: #003472;
    border-radius: 2rem;
    color: white;
    font-size: 1rem;
}

.default_text {
    margin-left: .5rem;
    font-size: 1rem;
}