.input input {
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #B4BECC;
    font-weight: 400;
    padding: 0;
}

.input input::placeholder {
    color: #D7D7D7
}

.input label {
    font-size: 1rem;
    padding-bottom: 1rem;
}