.page {
    position: relative;
    height: 100%;
}

.buttons {
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 1rem;
    bottom: 0;
}

.left_button {
    display: flex;
    rotate: 180deg
}

.right_button {
    display: flex;
}