.order {
    --gap: 1rem;
    padding-top: var(--gap);
    max-width: 220px;
    border-radius: 10px;
    margin-inline: auto;
    text-align: center;
}

.order_content {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    padding-bottom: calc(var(--gap) / 2);
    padding-inline: .5rem;
}

.block_header {
    margin-top: 0.25rem;
    color: black;
    font-size: 1rem;
}

.breakdown_string {
    margin-top: 0.25rem;
    text-align: left;
    font-size: 0.875rem;
}

.store {
    font-weight: var(--bold-font-weight);
    font-size: 1rem;
}

.customer_details {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.customer_details > p:first-child,
.order_for,
.order_details p:first-child,
.order_info p:first-child{
    font-weight: var(--regular-font-weight);
    font-size: 0.9rem;
}

.customer_details,
.order_details p:last-child,
.contents {
    white-space: pre-line;
    font-weight: var(--bold-font-weight);
    font-size: 0.95rem;
}

.contents {
    font-size: 0.75rem;
    line-height: 2em;
    max-height: 125px;
    overflow: auto;
}

.checkbox {
    display: none;
}

@media (min-width: 40em) {
    .order {
        position: relative;
        width: 200px;
    }

    .checkbox {
        display: unset;
        position: absolute;
        top: 0;
        right: 0;
    }
}