.item {
    width: 90%;
    margin-inline: auto;
    text-align: center;
    letter-spacing: 0;
    position: relative;
    margin-top: 1rem;
    border-radius: 6px;
}

.item_content {
    width: 90%;
    margin-inline: auto;
    padding-block: 1.25em;
}

.back {
    position: absolute;
    top: .75rem;
    left: .75rem;
    cursor: pointer;
}

.name_bg div {
    background-color: var(--primary-blue);
    color: var(--font-white);
    transform: translateY(-10px) translateX(10px);
}

.name_bg div p {
    transform: rotateZ(1.13deg);
    font-size: var(--normal-font-size);
    padding: .5rem;
}

.name_bg {
    max-width: 300px;
    margin-inline: auto;
    border: 4px solid var(--primary-yellow);
    transform: rotateZ(-1.13deg);
    margin-bottom: 1rem;
}

.bold {
    font-weight: var(--bold-font-weight);
}

.extra_price {
    font-size: .75rem;
    font-style: italic;
}

.image_container {
    margin-inline: auto;
    width: 65%;
    position: relative;
}

.image_container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.image_container::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 1px;
    width: 115%;
    background-color: #D1D6DB
}

.description {
    margin-block: 1em;
}

@media (min-width: 40em){
    .item {
        display: flex;
        flex-direction: column;
        min-width: 640px;
        max-width: 1000px;
        width: 70%;
        padding-top: 2rem;
        --content-width: 45%;
        --image-position: 20%; /*was 27.5*/
        justify-content: center;
    }

    .item_content {
        width: var(--content-width);
        padding: 0 1rem;
        margin-inline: 0;
        padding-inline: 1rem;
        margin-right: auto;
        margin-bottom: 2rem;
    }

    .info h2 {
        font-size: 2.5rem;
    }

    .item p {
        font-size: 1rem;
    }

    .image_container {
        width: 40%;
        /* height: 65%; */
        position: absolute;
        top: 50%;
        right: var(--image-position);
        transform: translate(50%, -50%);
    }

    .image_container img {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .image_container::after {
        display: none;
    }

    .description {
        margin-block: 3em;
        max-width: 31ch;
        margin-inline: auto;
    }
}