.container {
    background-color: var(--primary-blue);
    position: relative;
    overflow: hidden;
}

.content {
    display: flex;
    justify-content: space-between;
    max-width: var(--max-width);
    max-width: 1280px;
    align-items: center;
    margin-inline: auto;
}

.text_content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.text_content h2 {
    line-height: 111.5%;
    font-size: 1.5rem;
}

.text_content p {
    color: white;
    font-size: 0.9rem;
}

.link {
    color: #083A81;
    background-color: var(--primary-yellow);
    border-radius: 24px;
    padding: 0.5rem 5rem;
    width: fit-content;
    font-size: 1rem;
}

.image_container {
    display: none;
}

.circles {
    width: 100%;
    display: flex;
    gap: 1rem;
}

.circles > * {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #0072BC;
    cursor: pointer;
}

.circles > *:hover {
    outline: 2px solid var(--primary-yellow);
}

.circles > *:first-child {
    margin-left: auto;
}

.circles > *:last-child {
    margin-right: auto;
}

.stripe_left {
    display: none;
}

.stripe_right {
    display: none;
}

@media (min-width: 40em) {
    .container {
        padding-block: 1rem;
    }
    .text_content h2{
        font-size: 4rem;
        font-style: italic;
        max-width: 15ch;
    }

    .text_content p{
        font-size: 1.25rem;
        max-width: 45ch;
    }

    .image_container {
        display: block;
        width: 300px;
        height: 300px;
        position: relative;
    }
    
    .image_container img {
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .image_content{
        width: 300px;
        height: 330px;
    }

    .stripe_left {
        display: unset;
        position: absolute;
        width: 300px;
        height: 300px;
        top: 0;
        translate: -50% -50%
    }
    
    .stripe_right {
        display: unset;
        position: absolute;
        width: 300px;
        height: 300px;
        bottom: 0;
        right: 0;
        translate: 50% 50%
    }
}