.h2 {
    text-align: center;
}

.reviews {
    padding-bottom: 0.5rem;
}

.review {
    margin: auto;
    margin-top: 1rem;
    min-width: 200px;
}

@media (min-width: 40em) {
    .review {
        min-width: 33%;
    }
}