.date_select {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.calendar {
    border: 2px solid #DCDCDCDC;
    border-radius: 17px;
    width: fit-content;
    background-color: white;
}

@media (min-width: 40em) {
    .date_select {
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .selectors select{
        margin-bottom: 1rem;
    }

    .selectors p {
        max-width: 25ch;
    }
}