.order {
    margin: 2rem 0;
    padding: 1rem;
    background-color: white;
}

.order_header {
    display: flex;
    font-weight: bold;
    border-bottom: 2px solid grey;
    padding-bottom: 1rem;
    justify-content: space-between;
}

.order_header button {
    background-color: white;
}

.details {

}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.name {
    margin-left: auto;
    margin-right: 1rem;
}

.order_total {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    font-size: 1rem;
}

.order_total p:first-child {
    font-weight: bold;
}
