.nav_bar {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.scroll_list {
    padding: .5rem 0;
}


/* .nav_bar >*:first-child {
    margin-left: auto;
}

.nav_bar >*:last-child {
    margin-right: auto;
} */

.nav_bar a {
    font-size: var(--normal-font-size);
    color: #9195A8;
    padding: .5rem;
    border-bottom: 2px solid transparent;
    margin: 0 1rem;
}

.nav_bar a:hover {
    color: var(--primary-blue);
    border-bottom: 2px solid var(--primary-blue);
}

.nav_bar .selected {
    color: var(--primary-blue);
    border-bottom: 2px solid var(--primary-blue);
}