.nav_bar {
    display: flex;
    overflow-x: scroll;
    background-color: white;
    gap: 2rem;
}

.nav_bar::-webkit-scrollbar {
    display: none;
}

.nav_bar >*:first-child {
    margin-left: auto;
}

.nav_bar >*:last-child {
    margin-right: auto;
}

.nav_bar a {
    font-size: var(--normal-font-size);
    color: #9195A8;
    padding: .5rem;
    border-bottom: 2px solid transparent;
}

.nav_bar a:hover {
    color: var(--primary-blue);
    border-bottom: 2px solid var(--primary-blue);
}

.nav_bar .selected {
    color: var(--primary-blue);
    border-bottom: 2px solid var(--primary-blue);
}

/* .nav_bar a:hover {
    font-weight: bold;
    background: linear-gradient(#ffffff00 50%, #FFD503 50%);
}

.selected {
    font-weight: bold;
    background: linear-gradient(#ffffff00 50%, #FFD503 50%);
} */