.nav_bar {
    display: flex;
    overflow-x: scroll;
    background-color: white;
    padding: .5rem;
}

.nav_bar::-webkit-scrollbar {
    display: none;
}

.nav_bar >*:first-child {
    margin-left: auto;
}

.nav_bar >*:last-child {
    margin-right: auto;
}

.nav_bar a {
    margin: .5rem;
    padding: 0 .5rem;
}

.nav_bar a:hover {
    background: linear-gradient(#ffffff00 50%, #FFD503 50%);
}

.selected {
    font-weight: bold;
    background: linear-gradient(#ffffff00 50%, #FFD503 50%);
}