.container {
    width: 40vw;
    height: 27.3vw;
    margin-inline: auto;
    margin-top: 27.3vw;
}

.box {
    height: 100%;
    width: 100%;
    border: 2px solid #DCDCDC;
    position: relative;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white;
}

.box.open {
    animation: dropIn 1s ease-out forwards;
}

.box.close {
    animation: slideOut 500ms ease-in 1s forwards;
}

.first {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 15%;
    border-bottom: 2px solid #DCDCDC;
    background-color: white;
}

.second {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 15%;
    border-top: 2px solid #DCDCDC;
    background-color: white;
}

.lid {
    position: absolute;
    height: 85%;
    width: 100%;
    top: 0;
    left: 0;
    outline: 2px solid #DCDCDC;
    background-color: white;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    transition: all .5s ease;
    transform-origin: top;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.open .lid {
    transform: rotateX(210deg);
    transition: all 1s ease;
}

.close .lid{
    transform: rotateX(0deg);
    transition: all 1s ease;
}

.open .lid img {
    opacity: 0;
    transition: all ease .45s
}

.close .lid img {
    animation: showCorrectSide .35s ease;
}

@media (min-width: 40em) {
    .container {
        width: 100%;
        height: 0;
        margin-top: 69%;
        margin-bottom: 69%;
        /* max-width: 224.75px; */
    }

    .box {
        /* height: 0; */
        padding-bottom: 69%;
    }
}


@keyframes showCorrectSide {
    0%{
        opacity: 0;
    }
    75%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes slideOut {
    0%{
        transform: translateX(0)
    }
    100%{
        transform: translateX(200%)
    }
}

@keyframes dropIn {
    0%{
        transform: translateY(-475px);
    }
    50%{
        transform: translateY(25px);
    }
    100%{
        transform: translateY(0);
    }
}

