.modal_content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fade_in var(--animation-time) linear;
    z-index: 2;
}

.animate_out {
    animation: fade_out var(--animation-time) linear;
}

.close {
    position: absolute;
    top: 8px;
    right: 8px;
    cursor: pointer;
    margin: 0;
    z-index: 3;
}

@keyframes fade_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes fade_out {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}