.detail_list.hide {
    display: none;
}

.detail_list {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-block: 1px solid #D1D6DB;
    padding-block: 1.25rem;
    overflow: scroll;
    width: 90%;
    margin-inline: auto;
}

@media (min-width: 40em) {
    .detail_list.hide {
        display: unset;
    }
    .detail_list {
        overflow: hidden;
        width: 100%;
    }
}