.print {
    display: flex;
    justify-content: space-evenly;
    padding-block: calc(var(--gap) / 2);
    border-top: 1px solid #DCDCDC;
}

.print button {
    display: none;
    padding: .25rem .75rem;
    background-color: #FFFFFF;
    border-radius: 17px;
    border: 2px solid var(--primary-blue);
}

@media (min-width: 40em) {
    .print button {
        display: unset;
        padding: .25rem .75rem;
        background-color: #FFFFFF;
        border-radius: 17px;
        border: 2px solid var(--primary-blue);
    }
}