.orders {
    --gap: 1.5rem;
    padding-block: var(--gap);
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    max-height: 65vh;
    overflow: scroll;
}

.orders,
.no_orders {
    min-height: 50vh;
}

.no_orders h2{
    color: var(--font-black);
}

@media (min-width: 40em) {
    .orders {
        flex-direction: row;
        overflow: unset;
        padding-inline: var(--gap);
        overflow-x: auto;
    }
}