.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	gap: 1rem;
	border-bottom: 1px solid #f2f4ff;
	padding: 1rem 0;
	--width: 110px;
}

.image {
	display: block;
	width: 75px;
	height: 75px;
	margin: auto;
}

.image_div {
	width: var(--width);
}

.item_details {
	overflow: hidden;
	width: var(--width);
}

.price {
	text-align: center;
	width: var(--width);
	overflow: hidden;
}

.amount {
	text-align: center;
	width: var(--width);
}

.name {
	font-weight: bold;
}

.name,
.extras p {
	overflow: hidden;
	white-space: wrap;
	text-overflow: ellipsis;
	text-align: center;
}

.extras {
	font-size: 1rem;
}

.deleteable {
	background-color: white;
}

@media (min-width: 40em) {
	.container {
		--width: 150px;
	}

	.image {
		height: 100px;
		width: 100px;
	}
}
