.container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	border-bottom: 1px solid #f2f4ff;
	padding: 1rem 0;
}

.image {
	width: 75px;
	height: 75px;
}

.item_details {
	flex: 1;
	overflow: hidden;
	min-width: 110px;
}

.price {
	flex: 1;
	text-align: center;
	min-width: 60px;
	overflow: hidden;
}

.amount {
	flex: 1;
	text-align: center;
	min-width: 60px;
}

.name {
	font-weight: bold;
}

.name,
.extras p {
	overflow: hidden;
	white-space: wrap;
	text-overflow: ellipsis;
}

.extras {
	font-size: 1rem;
}

.deleteable {
	background-color: white;
}

.last {
	text-align: right;
}

@media (min-width: 40em) {
	.image {
		height: 100px;
		width: 100px;
	}
}

@media (max-width: 26em) {
	.item_details,
	.amount {
		text-align: center;
	}
}
