.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
    gap: 1rem;
}

.image {
    width: 75px;
    height: 75px;
}

.item_details {
    flex: 1;
    overflow: hidden;
}

.price {
    flex: 1;
    text-align: center;
    min-width: 60px;
}

.amount {
    flex: 1;
    text-align: center;
}

.name {
    font-weight: bold;
}

.name, .extras p {
    overflow: hidden;
    white-space: wrap;
    text-overflow: ellipsis;
}

.extras {
    font-size: 1rem;
    text-overflow: ellipsis;
}

.deleteable {
    background-color: white;
}

.last {
    text-align: right;
}

@media (min-width: 40em) {
    .image {
        height: 100px;
        width: 100px;
    }
}