.item_container {
    padding: 0.5rem 1rem;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    text-align: center;
    /* width: 45%; */
}

.image {
    width: 150px;
    height: 150px;
}

.item_container h3 {
    color: var(--font-black);
    font-size: 1rem;
}

.link {
    font-size: 1rem;
    background-color: #093B81;
    color: white;
    border-radius: 23px;
    width: 100%;
    padding: 0.1em 1.25em
}

@media (min-width: 40em) {
    .item_container h3 {
        color: #093B81;
        font-size: 1.5rem;
    }
}