@import url("https://use.typekit.net/rtk5nig.css");

:root {
    /* -----Colors----- */
    --primary-blue: #003472;
    --blue-outline: #012248;
    --primary-yellow: #FFD503;

    /* -----Fonts----- */
    --primary-font: normal var(--normal-font-size) filson-pro, sans-serif;
    /* --Sizes-- */
    --title-font-size: 2.25rem;
    --normal-font-size: 1.05rem;
    --medium-font-size: 1rem;
    --small-font-size: 0.7rem;
    /* --Weights-- */
    --bold-font-weight: 700;
    --regular-font-weight: 400;
    --secondary-font-weight: 300;
    /* --Colors-- */
    --font-black: #161616;
    --font-white: #FFFFFF;
    --background-color: #FAFCFF;

    /* --Notification-- */
    --success: #70F36D;
    --pending: #FFFFFF;
    --error: #FF6666;

    /* --Width-- */
    --max-width: 1280px;
    --page-margin: 1rem;

    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    font: var(--primary-font);
    background-color: var(--background-color);
    margin: 0;
    width: 100%;
    height: 100%;
    /* min-height: 100vh; */
    overflow-x: hidden;
    position: relative;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h1, h2, h3, p {
    margin: 0;
}

h1, h2, h3 {
    font-weight: var(--bold-font-weight);
    color: var(--font-white);
}

h1, h2{
    font-size: var(--title-font-size);
}

a, button {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

fieldset {
    border: none;
    padding: 0;
    margin: 0;
}

fieldset label {
    font-weight: var(--bold-font-weight);
}

.input, select, input {
    font: var(--primary-font);
    font-size: var(--medium-font-size);
    padding: .3em .5em;
    border: 1px solid #DCDCDC;
    border-radius: 1.75rem;
}
.input {
    font: var(--primary-font);
    font-size: var(--medium-font-size);
    padding: .3em .5em;
    border: 1px solid #DCDCDC;
    border-radius: 1.75rem;
}
button {
    border: none;
    font: var(--primary-font);
}

@media (min-width: 40em) {
    :root {
        --title-font-size: 3.5rem;
        --normal-font-size: 1.375rem;
        --medium-font-size: 1.125rem;
        --small-font-size: 0.8125rem;
    }
}