.container {
    text-align: center;
}

.container h2 {
    margin-inline: auto;
}

.images {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
}

.images div {
    width: 33%;
    max-width: 200px;
}