.container {
    display: flex;
    text-align: center;
    flex-direction: column;
    gap: 1rem;
}

.heading_container p {
    margin: auto;
    max-width: 600px;
}

.container h2 {
    margin-inline: auto;
}

.images {
    display: flex;
    gap: 0.25rem;
    justify-content: center;
}

.images div {
    width: 33%;
}