.container {
    text-align: center;
}

.container h2 {
    margin-inline: auto;
}

.images {
    display: flex;
    gap: 0.25rem;
}

.images > * {
    flex: 1;
    width: 15%;
    padding-top: 20%;
}