.locations {
    padding: 0.5rem;
}

.locations > li {
    margin: auto;
    margin-top: 1rem;
    min-width: 200px;
}

@media (min-width: 40em) {
    .locations > li {
        min-width: 33%;
    }
}